html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  gap: 25px;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px 0px 100px;
}

.one {
  margin-top: 15px;
}

.two {
  margin-bottom: 15px;
}

#searchbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

#usersearch {
  appearance: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  height: 25px;
  width: 500px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.bottom-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

#greeting {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#name-handle {
  font-size: 1.5em;
}

#pfp {
  border-radius: 40px;
}

label[for="usersearch"] {
  display: none;
}

.bottom-right {
  display: flex;
  gap: 20px;
}

.user-option {
  appearance: none;
  border: none;
  padding: 12px 35px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #1992D4;
  color: white;
}

.sidebar {
  background-color: #1992D4;
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#logo {
  height: 50px;
  width: 50px;
  filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(257deg) brightness(109%) contrast(113%);
  position: relative;
  bottom: 2px;
}

.title-logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.75em;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  padding: 0;
}

.setting-pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  padding: 0;
}

.page {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.3em;
  display: flex;
  gap: 20px;
}

.icon {
  height: 21px;
  width: 21px;
  filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(257deg) brightness(109%) contrast(113%);
}

.setting-pages .icon {
  position: relative;
  bottom: 1px;
}

.main-content {
  background-color: slategray;
  grid-column: 2;
  grid-row: 2;
}