html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:rgb(226, 232, 240);
}

@font-face {
  font-family: Sunflower;
  src: url("fonts/Sunflower.otf");
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  gap: 25px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px 0px 100px;
}

.one {
  margin-top: 15px;
}

.two {
  margin-bottom: 15px;
}

#searchbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

#usersearch {
  appearance: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  height: 25px;
  width: 500px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.bottom-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

#greeting {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#name-handle {
  font-size: 1.5em;
}

#pfp {
  border-radius: 40px;
}

label[for="usersearch"] {
  display: none;
}

.bottom-right {
  display: flex;
  gap: 20px;
}

.user-option {
  appearance: none;
  border: none;
  padding: 12px 35px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #1992D4;
  color: white;
  font-size: .9em;
}

.sidebar {
  background-color: #1992D4;
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#logo {
  height: 50px;
  width: 50px;
  filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(257deg) brightness(109%) contrast(113%);
  position: relative;
  bottom: 2px;
}

.title-logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.75em;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  padding: 0;
}

.setting-pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  padding: 0;
}

.page {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.3em;
  display: flex;
  gap: 20px;
}

.icon {
  height: 21px;
  width: 21px;
  filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(257deg) brightness(109%) contrast(113%);
}

.setting-pages .icon {
  position: relative;
  bottom: 1px;
}

.main-content {
  grid-column: 2;
  grid-row: 2;
  background-image: none;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 3fr 4fr;
  margin-bottom: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.your-projects, .ann-title, .tren-title {
  display: flex;
  align-self: end;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  margin-left: 20px;
}

.projects, .announcements, .trending {
  margin-top: 20px;
}

.ann-title, .tren-title {
  margin-left: 20px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.proj-card {
  display: grid;
  gap: 15px;
  padding: 10px;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: white;
  border-left: 10px solid gold;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0.25px rgba(0, 0, 0, 0.2);
}

.ann-cards, .tren-cards {
  margin: 0 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 2px 2px 2px 0.25px rgba(0, 0, 0, 0.2);
}


hr {
  border: 1px solid rgb(204, 204, 204);
  margin: 0;
}

.album-cover {
  height: 200px;
  border: 1px solid black;
}

.review {
  display: flex;
  flex-direction: column;
}

.album-title {
  font-family: Sunflower;
  font-size: 1.5em;
}

.album-artist {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .9em;
  margin-bottom: 5px;
}

.rating {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.post-title {
  font-weight: bold;
}

.tren {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr;
  grid-template-rows: 1fr;
  margin: 15px 0;
}

.tren-rank {
  font-size: 2em;
  font-weight: bold;
  color: rgb(66, 66, 66);
  display: grid;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.tren img {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  grid-column: 2;
}

.album-info {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.tren-album {
  font-family: Sunflower;
  font-size: 1.5em;
}

.half-star {
  font-size: .9em;
}





